<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118998578425-1f3d8csjjhish636n7pqr64tbc68p2bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118998578425-1f3d8csjjhish636n7pqr64tbc68p2bm</string>
	<key>API_KEY</key>
	<string>AIzaSyBI9aFMuC1PujZmmt-kdLTHYeJERwNWRaU</string>
	<key>GCM_SENDER_ID</key>
	<string>118998578425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motobbcapp</string>
	<key>PROJECT_ID</key>
	<string>motobbc-19c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>motobbc-19c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118998578425:ios:ff3f8620038960059d5e28</string>
</dict>
</plist>